* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    position: relative;
    min-height: 100%;
    /* -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;*/
    -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
}

a:hover,
input[type='button']:hover,
input[type='submit']:hover,
button:hover {
    cursor: pointer;
}

ul,
li,
ol {
    list-style: none;
}

body {
    font-family: 'AGaramondPro-Regular', sans-serif;
    margin-top: 165px;
    color: #898989;
    /*-webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;*/
    -webkit-text-size-adjust: none;
}

body.index {
    background: #fff url(../images/bg.jpg) top center repeat-x;
}

.clearfix {
    clear: both;
    width: 100%;
}

.center {
    text-align: center;
}

.main_outer {
    width: 1170px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
}

img {
    max-width: 100%;
}

input,
textarea {
    font-family: 'AGaramondPro-Regular', sans-serif;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

p {
    font-size: 19px;
}

h2 {
    font-family: 'Cinzel-Regular';
    font-size: 30px;
    margin-bottom: 10px;
    color: #006019;
}

h4 {
    font-family: 'Cinzel-Regular';
    font-size: 18px;
    margin-bottom: 8px;
    color: #006019;
    color: #fff;
}


/*------------------------Header---------------------------------*/

#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background: #eee;
    background: url(../images/bg.jpg) top center repeat-x;
}

#header.nav-fixed .logo {
    padding: 10px 0;
}

#header.nav-fixed .logo h1 {
    width: 68px;
    height: 60px;
    background: url(../images/logo_small.png) no-repeat;
    background-size: 100% auto;
}

#header.nav-fixed .header_right {
    margin-top: 10px;
}

#header.nav-fixed .header_right ul {
    margin-top: 2px;
}

#header.nav-fixed .header_right .email_header a {
    display: inline-block;
    clear: inherit;
    margin-left: 5px;
}

.site {
    width: 1170px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 30px 0 25px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

h1 {
    width: 149px;
    height: 112px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    background: url(../images/logo.png) no-repeat;
    background-size: 100% auto;
}

.logo a {
    display: block;
    height: 100%;
}

.header_right {
    float: right;
    max-width: 870px;
    margin-top: 60px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.header_right ul {
    float: right;
    margin-top: 15px;
}

.header_right ul li {
    float: left;
    margin-left: 25px;
}

.header_right ul li a {
    font-family: 'Cinzel-Regular';
    font-size: 18px;
    position: relative;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    color: #d6a347;
}

.header_right ul li:hover a,
.header_right ul li.active a,
.email_header a:hover {
    color: #fff;
}

.email_header {
    font-size: 15px;
    float: right;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    text-align: right;
    color: #fff;
}

.email_header a {
    font-family: 'Cinzel-Regular';
    font-size: 18px;
    display: inherit;
    clear: both;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    color: #d6a347;
}


/*---------------------home page------------------------*/

#slider_home {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.desc_slider_home {
    font-family: 'Cinzel-Regular';
    font-size: 27px;
    position: absolute;
    z-index: 9;
    top: 22.5%;
    right: 0;
    left: 0;
    display: inline-block;
    width: 273px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    color: #d6a347;
    background: rgba(0, 0, 0, .8);
}

.desc_slider_home label {
    display: inline-block;
    width: 100%;
    padding: 10px 0 14px;
    vertical-align: top;
    color: #d6a347;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#middle_part {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    vertical-align: top;
    border-bottom: 0 solid #d6a347;
    background: #fff;
}

.home_feature_post {
    float: left;
    width: 555px;
}

.home_feature_post_content {
    display: inline-block;
    width: 100%;
    padding: 45px 0 50px;
    vertical-align: top;
}

.home_feature_post_content h2 {
    font-size: 27px;
}

.home_feature_post_content h2 a {
    -webkit-transition: color 300ms;
    transition: color 300ms;
    color: #006019;
}

.home_feature_post_content h2 a:hover {
    color: #d6a347;
}

.view_link {
    font-family: 'Cinzel-Regular';
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    vertical-align: top;
    color: #d6a347;
    border: 1px solid #ccc;
    background: #fff;
}

.home_feature_post_img {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}

.border_post_name {
    position: absolute;
    top: 8%;
    right: 7%;
    bottom: 8%;
    left: 7%;
    display: block;
    cursor: pointer;
    border: 1px solid #d6a347;
    border-bottom: none;
}

.border_post_name h2 {
    position: absolute;
    right: 0;
    bottom: -14px;
    left: 0;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    color: #fff;
}

.border_left_side {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 40%;
    height: 1px;
    vertical-align: top;
    background: #d6a347;
}

.border_right_side {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 40%;
    height: 1px;
    vertical-align: top;
    background: #d6a347;
}

.view_link,
.border_post_name,
input[type='submit'] {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.border_left_side,
.border_right_side,
h2 {
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
}

.border_post_name.bali .border_right_side,
.border_post_name.bali .border_left_side {
    width: 42.5%;
}

.home_feature_post_img:hover .border_right_side,
.home_feature_post_img:hover .border_left_side,
.home_feature_post_img.hovered .border_right_side,
.home_feature_post_img.hovered .border_left_side {
    width: 50%;
}

.home_feature_post_img:hover h2,
.home_feature_post_img.hovered h2 {
    font-size: 36px;
    bottom: 48%;
}

.home_feature_post_img:hover .border_post_name,
.home_feature_post_img.hovered .border_post_name {
    background: rgba(0, 96, 28, .4);
}

.view_link:hover {
    color: #fff;
}

.home_about_content {
    display: inline-block;
    width: 100%;
    margin: 40px 0;
    vertical-align: top;
}

.home_about_content img {
    float: left;
}

.home_about_content_inner {
    float: left;
    width: 360px;
    margin: 20px 0 0 50px;
}

.home_about_content_inner h2 {
    margin: 50px 0 20px;
}

.home_about_content_inner p {
    margin-bottom: 10px;
}

.testmonial_text {
    font-family: 'Cinzel-Regular';
    font-size: 30px;
    float: right;
    width: 323px;
    margin-top: 130px;
    text-align: left;
    color: #d6a347;
}

.left_qu {
    display: inline-block;
    width: 21px;
    height: 17px;
    margin-top: -2px;
    margin-right: 10px;
    vertical-align: top;
    background: url(../images/icon/icon.png) no-repeat;
}

.right_qu {
    display: inline-block;
    width: 21px;
    height: 17px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: top;
    background: url(../images/icon/icon1.png) top no-repeat;
}

.retreats_div {
    display: inline-block;
    width: 100%;
    margin: 60px 0 0;
    padding: 100px 0;
    vertical-align: top;
    background: url(../images/middle_part.jpg) 0px bottom no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.retreats_div h2 {
    margin-bottom: 25px;
}

.retreats_div ul {
    margin-bottom: 0;
    padding-left: 25px;
}

.retreats_div ul li:last-child {
    margin-bottom: 0 !important;
}

.retreats_div ul,
.retreats_div ul li {
    list-style: url(../images/icolist.png) outside !important;
}

.retreats_div li {
    font-size: 19px;
    width: 55%;
    margin-bottom: 10px;
}

.retreats_div li span {
    font-size: 16px;
    font-style: italic;
    color: #b67a19;
}

#goldline {
    width: 100%;
    height: 5px;
    background: url(../images/bggoldline.png) bottom center no-repeat #a76706;
}

.Our_Partners {
    display: inline-block;
    width: 100%;
    margin: 50px 0;
    text-align: center;
    vertical-align: top;
}

.Our_Partners h2 {
    margin-bottom: 20px;
}

.Our_Partners ul li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
}

.Our_Partners ul li a {
    display: block;
    border: 0 solid #ccc;
}

.Our_Partners ul li:first-child {
    margin-left: 0;
}

.Our_Partners .bx-pager {
    display: none!important;
}

.Our_Partners .bx-wrapper .bx-controls-direction {
    display: inline-block!important;
}

.Our_Partners .bx-wrapper .bx-controls-direction a {
    top: 50%;
    bottom: auto;
}

.Our_Partners .bx-wrapper .bx-prev {
    left: -30px;
}

.Our_Partners .bx-wrapper .bx-next {
    right: -30px;
    left: inherit;
}


/*-----------------------------footer------------------------------------------------*/

.footer_main {
    display: inline-block;
    width: 100%;
    padding: 50px 0 20px;
    vertical-align: top;
    background: #0b0b0b url(../images/footer_border.jpg) top center repeat-x;
}

.newsletter_div {
    float: left;
    width: 500px;
}

.newsletter_div input[type='text'] {
    font-size: 18px;
    float: left;
    width: 330px;
    margin-bottom: 20px;
    padding: 7px 15px;
    color: #898989;
    border: 1px solid #464646;
    background: none;
}

.newsletter_div input[type='submit'] {
    font-size: 18px;
    float: left;
    padding: 7px 15px;
    color: #898989;
    border: 1px solid #464646;
    border-left: none;
    background: none;
    height: 39px;
}

.newsletter_div input[type='submit']:hover {
    color: #fff;
    background: #d6a347;
}

.testmonial_footer {
    float: left;
    width: 650px;
    margin-bottom: 10px;
}

.border_div {
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 25px 0 20px;
    vertical-align: top;
    background: #323232;
}

.footer_main p {
    font-size: 18px;
    margin-bottom: 8px;
}

.footer_main p a {
    color: #ccc;
}

.footer_main h4 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.socail_ul {
    float: left;
    margin-top: 7px;
}

.socail_ul li {
    float: left;
    margin-right: 5px;
}

.testmonial_footer .bx-wrapper {
    background: none;
}

.testmonial_footer .bx-pager {
    display: none!important;
}

.testmonial_ul li {
    font-family: 'AGaramondPro-Italic';
    font-size: 18px;
    line-height: 22px;
    padding-left: 25px;
    background: url(../images/icon/icon2.png) left 0 no-repeat;
}

.left_qu01 {
    display: inline-block;
    width: 21px;
    height: 17px;
    margin-top: -4px;
    margin-right: 10px;
    vertical-align: top;
    background: url(../images/icon/icon2.png) top no-repeat;
}

.right_qu01 {
    display: inline-block;
    width: 21px;
    height: 17px;
    margin-left: 10px;
    vertical-align: top;
    background: url(../images/icon/icon3.png) top no-repeat;
}

.testmonial_name {
    font-family: 'AGaramondPro-Regular';
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    vertical-align: top;
}

.testmonial_footer .bx-controls-direction {
    display: inline-block!important;
}

.testmonial_name label {
    color: #fff;
}

.footer_menu {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.footer_menu li {
    float: left;
}

.footer_menu li a {
    font-size: 16px;
    display: block;
    padding: 0 9px 0 7px;
    color: #898989;
}

.footer_menu li.active a,
.footer_menu li a:hover {
    color: #ccc;
}

.footer_menu li:first-child a {
    padding-left: 0;
}

.footer_menu li:last-child:after {
    display: none;
}

.footer_menu li:after {
    float: right;
    width: 2px;
    height: 2px;
    margin-top: -7px;
    content: '';
    background: #999;
}

.footer_main p.copy_p {
    font-size: 16px;
}


/*-----------------------about us----------------------------*/

.middle_page_part {
    display: inline-block;
    width: 100%;
    margin: 40px 0;
    text-align: center;
    vertical-align: top;
}

.middle_page_part p {
    margin-bottom: 10px;
}

.about_img {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.border_div_about {
    position: absolute;
    top: 7%;
    right: 7%;
    bottom: 7%;
    left: 7%;
    display: block;
    border: 1px solid #d6a347;
}

.about_left {
    float: left;
    width: 555px;
    margin-top: 20px;
}

.about_content {
    float: right;
    width: 565px;
    margin-top: 20px;
    text-align: left;
}

.about_content_inner {
    font-family: 'Cinzel-Regular';
    font-size: 30px;
    display: inline-block;
    margin: 10px 0 20px;
    padding: 15px 30px 20px;
    text-align: center;
    border-top: 2px solid #d6a347;
    border-bottom: 2px solid #d6a347;
}

.border_div_brown {
    display: inline-block;
    width: 100%;
    height: 5px;
    margin: 30px 0 45px;
    background: #d6a347;
}

.ceo_left {
    float: left;
    width: 650px;
    margin-top: 20px;
    text-align: left;
}

.about_ceo_img {
    position: relative;
    float: right;
    margin-top: 20px;
}

.ceo_label {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    color: #464646;
}

.middle_page_part .testmonial_text {
    width: auto;
    margin: 30px 10px;
    text-align: center;
}


/*--------------contact us---------------------*/

.map_contact {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 40px 0;
    vertical-align: top;
}

.map_contact .site {
    position: relative;
}

.contact_address {
    position: absolute;
    z-index: 15;
    top: 100px;
    left: 0;
    display: inline-block;
    width: 420px;
    padding: 30px 20px 10px;
    text-align: left;
    color: #fff;
    background: rgba(0, 58, 15, .9);
}

.contact_address p {
    margin-bottom: 20px;
}

.contact_address a {
    color: #fff;
}

.contact_address a:hover {
    color: #d6a347;
}

.contact_address p img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.contact_address p span {
    display: inline-block;
    vertical-align: top;
}

.contact_address p span label {
    font-family: 'Cinzel-Regular';
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: -4px 0 3px;
    vertical-align: top;
}

.contact_form {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
    vertical-align: top;
}

.left_part_contactform {
    float: left;
    width: 49%;
}

.right_part_contactform {
    float: right;
    width: 49%;
}

.input_text {
    font-family: 'AGaramondPro-Italic';
    font-size: 15px;
    line-height: 36px;
    float: left;
    width: 100%;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 0;
    text-indent: 15px;
    color: #898989;
    border: 1px solid #ebebeb;
}

textarea {
    font-family: 'AGaramondPro-Italic';
    font-size: 15px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 9px 0;
    text-indent: 15px;
    color: #898989;
    border: 1px solid #ebebeb;
}

.submit_contact {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px 7px 45px;
    vertical-align: top;
    text-transform: uppercase;
    color: #898989;
    border: 1px solid #ebebeb;
    background: none;
    background: url(../images/icon/icon4.png) 20px center no-repeat;
}

.submit_contact:hover {
    color: #000;
    background: #ebebeb url(../images/icon/icon4.png) 20px center no-repeat;
}

.contact_form textarea {
    height: 124px;
}

.submit_div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.input_text,
textarea,
.submit_contact {
    -webkit-box-shadow: inset 0 0 8px #ebebeb;
    -moz-box-shadow: inset 0 0 8px #ebebeb;
    box-shadow: inset 0 0 8px #ebebeb;
}

.full_name.input_text {
    width: 48%;
}

.telephone.input_text {
    float: right;
    width: 48%;
}

.middle_page_part .testmonial_text.margin_bottom0 {
    margin-bottom: 0;
}

.map_on {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}


/*-----------------------csr-----------------------------------*/

.csr_banner {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background: #fff;
    box-shadow: 2px 3px 8px #666;
}

.csr_part {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 40px 0 0;
    vertical-align: top;
    background: url(../images/map.jpg) center no-repeat;
}

.csr_banner_left {
    margin-top: 50px;
    margin-right: 80px;
}

.csr_banner_right {
    margin-top: 180px;
    margin-left: 80px;
}

.csr_banner_middle {
    position: absolute;
    z-index: 99;
    top: 93px;
    left: 35%;
}

@media (min-width:1024px) {
    .right_side {
        float: right!important;
    }
}


/* code for partners page */

.partners-testimonials header {
    margin: 45px 0;
    text-align: center;
}

.partners-testimonials .instructor-article figure {
    display: flex;
    align-items: flex-end;
}

.partners-testimonials .instructor-article figcaption {
    margin-left: 16px;
    text-transform: uppercase;
}

.partners-testimonials .instructor-article figure h4 {
    font-size: 25px;
    color: #464646;
    /*white-space: pre-line;*/
}


/* the gloden lines on the partner pictures */

.partners-testimonials .instructor-article .partner-lines {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.partners-testimonials .instructor-article .partner-lines > img {
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.partners-testimonials .instructor-article .partner-lines:hover:after {
    opacity: .5;
}

.partners-testimonials .instructor-article .partner-lines:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background: url(../images/partner-lines.png) no-repeat center center;
}

.partners-testimonials .instructor-article .partner-lines:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/* End of gloden lines on the partner pictures */

.partners-testimonials .instructor-article figure p {
    font-size: 15px;
    line-height: 1;
    color: #898989;
}

.instructor-article .instructor-writeup {
    margin-top: 25px;
}

.instructor-article .instructor-writeup > p {
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* style testimonial blockquotes */

.partners-testimonials .highlight-quote,
.partners-testimonials blockquote,
.testimonial-list blockquote .close-quote {
    position: relative;
}

.partners-testimonials .highlight-quote {
    font-size: 27px;
    line-height: 40px;
    margin-top: 55px;
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #dfae55;
    white-space: pre-line;
}

.partners-testimonials .highlight-quote:before,
.partners-testimonials .highlight-quote:after,
.partners-testimonials blockquote:before,
.testimonial-list blockquote .close-quote:after {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 23px;
    height: 17px;
    content: '';
    background: url(../images/open-quote.png) no-repeat center center;
}

.partners-testimonials .highlight-quote:after,
.testimonial-list blockquote .close-quote:after {
    top: 100%;
    right: 0;
    bottom: initial;
    left: initial;
    background: url(../images/close-quote.png) no-repeat center center;
}

.testimonial-list blockquote .close-quote:after {
    top: 70%;
    right: -35px;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.partners-testimonials blockquote {
    margin: 60px 0 50px 0;
    padding: 0 30px;
}

.partners-testimonials blockquote p {
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial-list blockquote cite {
    font-size: 19px;
    display: inline-block;
    margin-top: -10px;
    color: #d6a347;
}

.testimonial-list hr {
    height: 5px;
    border: none;
    background: rgb(223, 174, 85);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(223, 174, 85, 1) 0%, rgba(196, 140, 46, 1) 50%, rgba(226, 178, 92, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(223, 174, 85, 1) 0%, rgba(196, 140, 46, 1) 50%, rgba(226, 178, 92, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(223, 174, 85, 1) 0%, rgba(196, 140, 46, 1) 50%, rgba(226, 178, 92, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dfae55', endColorstr='#e2b25c', GradientType=1);
    /* IE6-9 */
}


/* End testimonial blockquotes */


/* end of code for partners page */


/* Code for packages page */

.yoga-packages {
    overflow: hidden;
}

.resort-packages h2 {
    font-size: 45px;
    margin-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    color: #e9ba66;
}

.resort-packages h2 > span {
    font-size: 30px;
}

.container.resort-packages {
    position: relative;
    /*margin: 150px auto;*/
    margin-top: 45px;
    padding: 50px 0;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid #d6a347;
    -webkit-box-shadow: -1px 3px 5px rgba(0, 0, 0, .15);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, .15);
}

.resort-packages:after,
.resort-packages:before {
    position: absolute;
    z-index: 999;
    right: -2px;
    bottom: 0;
    width: 208px;
    height: 107px;
    content: '';
    background: url(../images/curved-edge.jpg) no-repeat center center;
}

.resort-packages:before {
    right: -10px;
    bottom: -10px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 6%, rgba(255,255,255,0.9) 14%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 6%,rgba(255,255,255,0.9) 14%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 6%,rgba(255,255,255,0.9) 14%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.resort-packages .row {
    margin-right: 0;
    margin-left: 0;
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/*.pricing-table .show-more {
    display: none;
}*/


/* First element of heading and dates need to be left aligned also no border left */

.pricing-table > thead > tr > th:first-child,
.pricing-table > tbody > tr > td:first-child {
    padding-left: 20px;
    text-align: left;
    border-left: none;
}


/* No border right for last element in the <tr> */

.pricing-table > thead > tr > th:last-child,
.pricing-table > tbody > tr > td:last-child {
    border-right: none;
}


/* make below styles global */

.btn {
    display: inline-block;
    padding: 10px 15px 8px 15px;
    text-align: center;
}

.btn-booknow {
    color: #fff;
    background: #006019;
    font-size: 18px;
    line-height: 50px;
    padding: 3px 20px 0px 20px;
    border: 1px solid #006019;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    vertical-align: top;
}

.btn-booknow:hover, .btn-booknow:focus , .btn-booknow:active {
    background: #fff;
    color: #006019;
}

.btn-shareit {
    color: #fff;
    background: #d6a347;
    border: 1px solid #d6a347;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn-shareit:hover , .btn-shareit:focus , .btn-shareit:active {
    color: #d6a347;
    background: #fff;
}

.btn-arrow-down {
    font-size: 19px;
    display: inline-block;
    color: #d6a347;
}

.main-section {
    overflow: hidden;
    padding-bottom: 50px;
}

.main-section > header {
    margin: 45px 0;
    text-align: center;
}

.main-section > header > p {
    white-space: pre-line;
}


/* End Gloabl */

.pricing-table > thead > tr > th,
.pricing-table > tbody > tr > td {
    padding: 10px 0;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    font-size: 19px;
}

.pricing-table th em {
    font-size: 14px;
} 

.pricing-table em{
    font-style: italic;
}

.resort-packages > div:first-child {
    margin-bottom: 25px;
}

.pricing-table thead {
    color: #fff;
    background: #d6a347;
}

.pricing-table > tbody > tr:nth-child(even) {
    background: #f5f5f5;
}

.pricing-table > tbody > tr:nth-child(odd) {
    background: #fff;
}

.resort-packages .package-writeup h4 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #006019;
}

.resort-packages .package-writeup p {
    color: #464646;
}


.resort-packages .package-writeup p em {
    font-style: italic;
}

.resort-packages .package-writeup p ~ em {
    font-style: italic;
    color: #898989;
    margin-top: 5px;
}

.resort-packages .package-writeup .btn-shareit i {
    margin-right: 10px;
}

.resort-packages .arrow-down-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.resort-packages .package-writeup .btn-shareit {
    font-size: 19px;
    display: block;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
}

.resort-packages .terms-conditions {
    display: inline-block;
    padding: 15px;
    color: #464646;
    border: 1px solid #ebebeb;
}

.resort-packages .terms-conditions a {
    color: #d6a347;
}

.resort-packages .terms-conditions small {
    font-size: 19px;
}

    /* modal for terms and conditons */
    
    .tandc-modal {
        margin-bottom: 20px;
    }

    .tandc-modal p {
        font-size: 16px;
        margin:5px 0;
        text-align: left;
    }


@media (min-width:448px) {
    .resort-packages .sp-thumbnails-container {
        position: absolute;
        z-index: 999;
        bottom: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


/* End packages page code */


/* code for testimonials */

.testimonials-wrapper blockquote {
    font-family: 'AGaramond-Italic';
    position: relative;
    padding: 35px;
    padding-top: 50px;
    margin-bottom: 40px;
    color: #464646;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+55,b1cc98+100&1+55,0.5+100 */
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 55%, rgba(177,204,152,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 55%,rgba(177,204,152,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,1) 55%,rgba(177,204,152,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80b1cc98',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.testimonials-wrapper blockquote:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/testimonial-border.png) no-repeat right 0;
    -webkit-background-size: contain;
    background-size: contain;

}

.testimonials-wrapper blockquote > p , .testimonials-wrapper blockquote footer {
    padding-left: 30px;
    line-height: 1.4;
}


.testimonials-wrapper blockquote p {
    position: relative;
}

.testimonials-wrapper blockquote footer {
    margin-top: 30px;
    line-height: 1;
}

.testimonials-wrapper blockquote footer p {
    margin-top: 5px;
}

.testimonials-wrapper blockquote footer cite {
    font-size: 19px;
    display: block;
    color: #006019;
    font-weight: bold;
}


.testimonials-wrapper blockquote > p:first-child:before, .testimonials-wrapper blockquote .close-quote:after {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 23px;
    height: 17px;
    content: '';
    background: url(../images/open-quote.png) no-repeat center center;
}

.testimonials-wrapper blockquote .close-quote {
    display: inline-block;
    position: relative;
}

.testimonials-wrapper blockquote > p:not(:first-child) {
    margin-top: 15px;
}

.testimonials-wrapper blockquote .close-quote:after {
    top: -5px;
    right: -33px;
    bottom: initial;
    left: initial;
    background: url(../images/close-quote.png) no-repeat center center;
}

/*.testimonial-list blockquote .close-quote:after {
    top: 70%;
    right: -35px;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}*/


.tandc-modal h4{color: #006019;margin:15px 0 0px; text-align:left}
.tandc-modal p span{color: #d6a347; }
.tandc-modal p a{color:#d6a347;}
/* end testimonials */
.about_border.border_div_brown{margin-bottom:0}
.tailor_package_images{width:100%; display:inline-block; vertical-align:top; margin:20px 0;}
.tailor_package_images img:last-child{margin:0;}
.tailor_package_images img{margin-right:15px; float:left}
.tailor_package_text{width:100%; display:inline-block; vertical-align:top; margin:0px 0 0px; text-align:center; font-size:30px;}
.tailor_package_text p{font-size:30px; width:80%; display:inline-block; vertical-align:top;font-family: 'Cinzel-Regular';    color: #d6a347;}
.tailor_package_text label{font-size:22px; width:72%; margin:10px 0 20px; display:inline-block; vertical-align:top;font-family: 'Cinzel-Regular';    color: #898989;}
.tailor_package_text span{font-size:19px; width:63%; margin:10px 0 0px; display:inline-block; vertical-align:top;font-family: 'Cinzel-Regular';    color: #fff; background:url(../images/tailor_04.jpg) center no-repeat; background-size:auto 100%; -webkit-transition-duration: .3s;
    transition-duration: .3s; }
.tailor_package_text span a{color: #fff;padding:20px 0 25px;display:inline-block; vertical-align:top; width:100%; -webkit-transition-duration: .3s;
    transition-duration: .3s;}
.tailor_package_text span:hover{background-size:auto 120%; }
.tailor_package_text span:hover a{color:#000}
.logo_packages{width:98%; display:inline-block; vertical-align:top; margin:-10px 0 10px 15px;}
.logo_packages div{display:inline-block; width:49%; vertical-align:middle; margin-bottom:15px;}
.logo_packages div p{display:inline-block; vertical-align:middle; font-family: 'Cinzel-Regular'; font-size:16px;   color: #000;}
.logo_packages div img{display:inline-block; vertical-align:middle; margin-right:15px;}
.logo_packages div.mena_logo img, .logo_packages div:nth-child(2) img{margin-right:43px; }
input[type="checkbox"] {
    position: absolute;
    left: -99999px;
}
input[type="checkbox"] + label {
    float: left;
    margin-right: 23px;
    background: url(../images/check_box.png) top left no-repeat;
    font-size: 16px;
    color: #2b2b2b;
    padding-left: 30px;
    line-height: 26px;
    margin-left: 0px;
    margin-top: 6px;    
    cursor: pointer;
}
input[type="checkbox"]:checked + label,  .pricing-table input[type="checkbox"]:checked + label{
    background-position: left -100px;
}
.pricing-table input[type="checkbox"] + label {
	background: url(../images/check_boxperson.png) top left no-repeat;
	font-size: 19px;
	color: #898989;
	float:none; display:inline-block;margin:0;
}
.more_details:before{content:''; width:100%; clear:both}
.more_details{color:#d6a347; clear:both; margin:10px 0 0; display:inline-block; vertical-align:top;}
.list_style ul{display:inline-block; vertical-align:top; width:100%; text-align:left}
.list_style ul li{display:inline-block; vertical-align:top;width:100%; font-size:18px;background: url(../images/icolist.png) no-repeat left 4px; padding-left:20px; margin-top:5px;}
strong{font-weight:bold}
.alert {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
.alert-danger{
    border: 1px solid #D65353;
    background-color: #CC6B6B;
    color: #000;
}
.alert-success {
    border: 1px solid #64866F;
    background-color: #6CCA8B;
    color: #001206;
}