@font-face {
  font-family: 'Cinzel-Regular';
  src: url('Cinzel-Regular.eot?#iefix') format('embedded-opentype'),  url('Cinzel-Regular.woff') format('woff'), url('Cinzel-Regular.ttf')  format('truetype'), url('Cinzel-Regular.svg#Cinzel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url('AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),  url('AGaramondPro-Regular.otf')  format('opentype'),
	     url('AGaramondPro-Regular.woff') format('woff'), url('AGaramondPro-Regular.ttf')  format('truetype'), url('AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGaramondPro-Italic';
  src: url('AGaramondPro-Italic.eot?#iefix') format('embedded-opentype'),  url('AGaramondPro-Italic.otf')  format('opentype'),
	     url('AGaramondPro-Italic.woff') format('woff'), url('AGaramondPro-Italic.ttf')  format('truetype'), url('AGaramondPro-Italic.svg#AGaramondPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGaramondPro-Bold';
  src: url('AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),  url('AGaramondPro-Bold.otf')  format('opentype'),
	     url('AGaramondPro-Bold.woff') format('woff'), url('AGaramondPro-Bold.ttf')  format('truetype'), url('AGaramondPro-Bold.svg#AGaramondPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGaramondPro-BoldItalic';
  src: url('AGaramondPro-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('AGaramondPro-BoldItalic.otf')  format('opentype'),
	     url('AGaramondPro-BoldItalic.woff') format('woff'), url('AGaramondPro-BoldItalic.ttf')  format('truetype'), url('AGaramondPro-BoldItalic.svg#AGaramondPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGaramond-Italic';
  src: url('AGaramond-Italic.eot?#iefix') format('embedded-opentype'),  url('AGaramond-Italic.otf')  format('opentype'),
       url('AGaramond-Italic.woff') format('woff'), url('AGaramond-Italic.ttf')  format('truetype'), url('AGaramond-Italic.svg#AGaramond-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
