@font-face {
  font-family: 'GillSansMT';
  src: url('GillSansMT.eot?#iefix') format('embedded-opentype'),  url('GillSansMT.woff') format('woff'), url('GillSansMT.ttf')  format('truetype'), url('GillSansMT.svg#GillSansMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Light';
  src: url('GillSans-Light.eot?#iefix') format('embedded-opentype'),  url('GillSans-Light.woff') format('woff'), url('GillSans-Light.ttf')  format('truetype'), url('GillSans-Light.svg#GillSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('GillSans.eot?#iefix') format('embedded-opentype'),  url('GillSans.woff') format('woff'), url('GillSans.ttf')  format('truetype'), url('GillSans.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansMT-Bold';
  src: url('GillSansMT-Bold.eot?#iefix') format('embedded-opentype'),  url('GillSansMT-Bold.woff') format('woff'), url('GillSansMT-Bold.ttf')  format('truetype'), url('GillSansMT-Bold.svg#GillSansMT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}