.ddsmoothmenu{position: relative; float:left; width:987px; margin-left:0px;}
.ddsmoothmenu ul{z-index:100;list-style-type: none; /*float:left; width:968px;*/ list-style:none; padding:0; margin: 0 auto;  }

/*Top level list items*/
.ddsmoothmenu ul li{float:left;font-family:Helvetica, Arial, sans-serif;font-weight:normal; font-size:18px; color:#df4971; margin-right:1px;position: relative;}
/*Top level menu link items style*/
.ddsmoothmenu ul li a { font-family: Helvetica, Arial, sans-serif;font-weight: normal;font-size: 14px;color: #fff;margin-right:0px;padding: 11px 11px 10px; display: inline-block;}
.ddsmoothmenu ul li a.active{background:#a52648; text-decoration:none;}
ul.ddsmooth-submenu li a.active{border-radius: 0;}
ul.ddsmooth-submenu li:last-child a.active{border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.ddsmoothmenu ul li a:hover{background:#a52648; text-decoration:none;}
ul.ddsmooth-submenu li a:hover{border-radius: 0px;}
ul.ddsmooth-submenu li:last-child a:hover{border-bottom-left-radius: 7px; border-bottom-right-radius: 5px;}




.ddsmoothmenu ul li ul{position: absolute;display: none; /*collapse all sub menus to begin with*/visibility: hidden;margin: 0!important; padding:0!important;width:210px; background:#ce305a; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{display: list-item;float: none; width:200px; padding:0!important;}
.ddsmoothmenu ul li ul li ul{top: 0;}
/* Sub level menu links style */
.ddsmoothmenu ul li ul li a, .ddsmoothmenu ul li ul li a.print, .ddsmoothmenu ul li ul li a.media , .ddsmoothmenu ul li ul li a.int, .ddsmoothmenu ul li ul li ul li a {width: 100%;/*width of sub menus*/float: none;padding: 2px 0 2px 15px;line-height:26px; font-family: Helvetica, Arial, sans-serif;font-weight: normal;font-size: 13px;color: #fff;text-align:left; width: 195px;  margin:0!important; float:left; border-bottom:1px solid #a52648 }
.ddsmoothmenu ul li ul li a:hover, .ddsmoothmenu ul li ul li ul li a:hover {}

.contact-us-link { padding:11px 13px 10px !important}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
display:none!important;
}

.rightarrowclass{
position: absolute;
display:none!important;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
display:none!important;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}
ul.ddsmooth-submenu{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
ul.ddsmooth-submenu li:last-child a{
    border-bottom: none;
}