@charset "utf-8";
/* CSS Document */

.dataTables_wrapper > .row{
	margin-bottom:10px !important;
}
.required{
	color:#b94a48 !important;
	font-weight:bold;
}
select#classified_country {
    visibility: hidden !important;
}
.hidden-element{
    display: none;
}
.city-select-list{
    min-width: 300px;
    height: 300px !important;
}
.city-selected-list{
    min-width: 300px;
    margin-left: 50px;
    height: 300px !important;
}
.navbar-brand img{
    height: 50px !important;
    width: auto !important;
}
.navbar {
    background: #fff;
    border: #fff;
    /* background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5); */
    /*background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);*/
    /* background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5); */
    /* background-repeat: no-repeat; */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #178acc;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);*/
}

a{ color: #d6a347;}
a:hover, a:focus{ color: #000;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {  color: #9430BF; }
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: #000;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #d6a347;
}
.parent-post-wrap {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 40px;
}
a.visit-site-ref{
    color: #000 !important;
}
a.visit-site-ref:hover{
    background-color: #ccc !important;
}
.section-control-wrap {  margin: 10px 0;  }
.no-data-found-wrap {  margin: 20px 0;  color: red;  }
div.border-top-bottom-dotted {
    margin: 10px 0;
    border-top: 1px dashed #ccc !important;
    border-bottom: 1px dashed #ccc !important;
    padding: 5px;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
}
.filter-items-wrap {
    width: 15.9%;
    float: left;
}

.navbar-brand {  padding: 0 15px !important;  width: 150px; display: block; text-align: center;}
.navbar-brand img{float: none;}
/*.label-success{background-color: #d6a347 !important;}*/
button.frontend-navigation {
    background-color: #d6a347;
    border: #d6a347;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px auto;
    display: block;
}
ul.category-selection.admin li.main {
    display: block;
    float: left;
    width: auto;
    min-width: 160px;
    margin-right: 20px;
}
ul.sub {
    padding-left: 25px;
}
.sub li {
    list-style: none;
}
.section-control-wrap .chosen-container {
	background-color: #b666da;
    border-radius: 5px;
    padding: 10px;
    width: 245px !important;
}
.section-control-wrap { margin: 0 0 10px;}

#datatable_list_wrapper .row:first-child {
    /*float: right;
    margin-right: -15px;
    margin-top: -43px;
    width: auto;*/
}
#datatable_list_wrapper .row > div { width: auto;}
li.allposts_post_wrap {
    list-style: none;
}
.done-close-button {
    padding : 10px 40px;
}
.select-list-wrap .control-group {
    float: left;
    margin-right: 100px;
    min-height: 70px;
}
.select-list-wrap{
    padding-bottom: 5px;
}
.option-tile-wrap .form-group.input-group {
    float: left;
    width: 45%;
}
.option-tile-wrap .form-control {
    width: 90%;
}
.option-tile-wrap .control-label{width: 100%;}
.floated_left {  float: left;  margin: 10px 20px 10px 0;  }
.choosen_min_width .chosen-container{min-width: 200px;}
body{font-family: 'AGaramondPro-Regular', sans-serif;}
.clearfix{clear: both;}