/* Grids (global) */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row:before {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}
.row:after {
	display: table;
	content: " ";
}
 @media (min-width: 768px) {
 .container {
 width: 750px;
}
}
 @media (min-width: 992px) {
 .container {
 width: 970px;
}
}
 @media (min-width: 1200px) {
 .container {
 width: 1170px;
}
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-9 {
	padding-left: 15px;
	padding-right: 15px;
}
 @media (min-width:992px) {
 .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-9 {
 float: left;
}
 .col-md-3 {
 width: 25%;
}
 .col-md-4 {
 width: 33.33333333%;
}
 .col-md-6 {
 width: 50%;
}
 .col-md-8 {
 width: 66.66666667%;
}
 .col-md-9 {
 width: 75%;
}
}


/* End Grids */

@media screen and (max-width: 960px) {
 body {
 margin-top: 80px
}
 body.index {
 background: none
}
 #slider_home .site {
 width: 100%;
 margin: 0
}
 .site {
 width: 96%;
 margin: 0 2%;
}
 h2 {
 font-size: 26px;
}
 .nav.menushow {
 left: 0;
}
 p {
 font-size: 16px;
}
 .home_about_content img {
 float: none;
 display: inline-block;
 vertical-align: top;
}
 #menuclick {
 position: absolute;
 top: 30px;
 left: 3%;
 z-index: 9999
}
 #header.showleft {
 left: 152px;
}
 .nav {
 position: fixed;
 top: 0px;
 margin: 0!important;
 height: inherit;
 left: -250px;
 font-size: 13px;
 padding: 7px 0;
 float: right;
 -webkit-transition: all 0.20s ease-in;
 -moz-transition: all 0.20s ease-in;
 width: 96%;
 height: 100%;
 max-width: 150px;
 z-index: 99999;
 -o-transition: all 0.20s ease-in;
 overflow: scroll;
 transition: all 0.20s ease-in;
 background: #d6a347;
 border-right: 2px solid #d6a347
}
 .nav.menushow {
 left: 0;
}
 .containershow {
 position: relative;
 left: 152px;
}
 #mainNav {
 width: 100%;
 height: inherit;
}
 ul.nav li {
 width: 100%;
 border-bottom: 1px solid #CC922B;
 margin: 0;
}
 ul.nav li a {
 padding: 10px 0px 10px 10px!important;
 font-size: 14px;
 color: #00360E;
}
 .header_right ul li:hover a,  .header_right ul li.active a {
 color: #fff;
}
 .header_right ul li a:after {
 display: none
}
 #header.nav-fixed .header_right {
 margin-top: 23px;
 width: 210px;
 margin-right: 0px;
}
 #header.nav-fixed .logo {
 margin-left: 35px;
}
 .email_header {
 line-height: 16px;
}
 .desc_slider_home {
 position: relative;
 bottom: auto;
 top: auto;
 margin-top: 0px;
 color: #222f73;
 width: 96%;
 padding: 10px 2%;
 text-align: center;
 margin-bottom: 5px;
 display: inline-block;
 vertical-align: top;
}
 .bx-wrapper img {
 display: inline-block;
 vertical-align: top;
}
 .bx-wrapper .bx-pager,  .bx-wrapper .bx-controls-auto {
 bottom: 28px!important;
}
 .desc_slider_home label {
        /*color:#222f73;*/
        font-size: 20px;
 padding-bottom: 27px;
 padding-top: 5px;
}
 .desc_slider_home p {
 color: #ccc;
 font-size: 15px;
}
 .mobile_view {
 display: inline-block;
}
 .desktop_view {
 display: none!important;
}
 #middle_part,  .field_activities {
 padding: 0px 0 0px;
 text-align: center;
 margin-top: 0
}
 .testmonial_text {
 margin: 0;
 width: 100%;
 text-align: center;
 font-size: 21px;
}
 .Our_Partners {
 margin: 15px 0
}
 .newsletter_div input[type="text"] {
 width: 55%;
/*margin-bottom:15px;*/
    }
 .border_div {
 margin: 35px 0 15px;
}
 .home_feature_post_content h2 {
 font-size: 22px;
}
 .retreats_div {
 margin-top: 0px;
 margin-bottom: 0px;
}
 .retreats_div p {
 font-size: 16px;
}
 .view_link {
 font-size: 14px;
 padding: 6px 15px;
 margin-top: 5px;
}
 .home_feature_post {
 width: 100%;
}
 .home_feature_post_content {
 padding: 15px 0;
}
 .border_left_side,  .border_right_side {
 width: 30%;
}
 .border_post_name.bali .border_right_side,  .border_post_name.bali .border_left_side {
 width: 36%;
}
 .home_about_content,  .home_news_content {
 width: 100%;
 margin: 15px 0
}
 .home_about_content_inner {
 width: 100%;
 margin: 0
}
 .home_about_content_inner h2 {
 margin: 0 0 10px;
}
 p {
 margin-bottom: 8px;
}
 .home_news_content {
 margin-top: 15px;
}
 .home_about_content .read_more {
 margin-top: 5px;
}
 .news_list {
 padding: 0 0 15px;
 margin-bottom: 10px;
 max-width: 630px;
 float: none;
 display: inline-block;
 vertical-align: top;
 text-align: left;
}
 .border_none.news_list {
 padding: 0 0 0px;
 margin-bottom: 0px;
}
 .social_ul {
 float: left;
 margin-bottom: 10px;
 margin-right: 20px;
}
 .copy_p {
 line-height: 20px;
}
 .social_ul li a {
 margin: 0 7px 0 0;
}
 .menu_part_footer,  .menu_part_footer.other_link {
 margin-right: 0;
 width: 100%;
 margin-bottom: 10px;
}
 .footer_main h4 {
 margin-bottom: 5px;
}
 .footer_menu {
 width: 100%;
}
 .footer_main {
 padding: 15px 0;
 text-align: center;
}
 .page_about_content {
 width: 94%;
 padding: 15px 3%;
}
 .page_about_content h2 {
 margin-bottom: 15px;
}
 .page_about_content p,  .service_header p,  .single_news p {
 margin-bottom: 8px;
}
 .service_header {
 padding: 15px 0 5px;
}
 .service_header h2 {
 margin-bottom: 10px;
}
 .page_left_area {
 padding: 15px 0 15px;
 width: 100%;
}
 .page_right_area {
 width: 100%;
 padding: 15px 0 5px;
 border: none;
 text-align: center;
 border-bottom: 1px solid #cfcfd9;
}
 .service_list {
 padding-bottom: 5px;
 margin-bottom: 15px;
}
 .connect_with_us {
 padding: 0
}
 .pagination_ul {
 float: none;
 display: inline-block;
 margin-bottom: 13px;
 margin-top: 0
}
 .icon_list_page {
 position: relative;
 padding-left: 70px;
 margin-bottom: 22px;
 padding-top: 7px;
}
 .newsletter_div input[type="submit"],  .newsletter_div input[type="text"] {
 display: inline-block;
 float: none;
 vertical-align: top;
 margin-left: 0;
 margin-right: 0;
 border: 1px solid #464646
}
 .socail_ul {
 float: none;
 display: inline-block;
 vertical-align: top;
}
 .page_contactus_content {
 float: none;
 display: inline-block;
}
 .single_newsimage img {
 width: 100%;
}
 .single_news h2 {
 margin-bottom: 15px;
}
 .previous_news,  .next_news {
 margin-bottom: 7px;
}
 .newsletter_div,  .testmonial_footer {
 width: 100%;
}
 .testmonial_footer {
 margin-top: 20px;
}
 .bx-wrapper .bx-prev {
 left: 45%;
 margin-left: -10px;
}
 .bx-wrapper .bx-next {
 right: 45%;
 left: auto;
 margin-right: -10px;
}
 .testmonial_ul li {
 font-size: 22px;
 padding-left:5px;
 padding-right:5px;
 line-height: 24px;
}
 .footer_main p.copy_p,  .footer_menu {
 text-align: center;
}
 .footer_menu li {
 float: none;
 display: inline-block;
 vertical-align: top;
}
 .middle_page_part {
 margin: 15px 0 0
}
 .csr_part {
 margin: 0;
 text-align: center;
}
 .csr_banner_left,  .csr_banner_middle {
 margin: 0 15px 15px;
}
 .csr_banner_right {
 margin: 0 15px 0px;
}
 .csr_banner_middle {
 position: relative;
 left: auto;
 top: auto;
}
 .Our_Partners h2 {
 margin-bottom: 10px;
}
 .about_left {
 width: 100%;
 max-width: 555px;
 margin-top: 0;
 float: none;
 display: inline-block;
 vertical-align: top;
}
 .middle_page_part .testmonial_text {
 margin: 15px 0 0;
}
 .about_content {
 width: 100%;
 text-align: center;
 margin-top: 15px;
}
 .about_content_inner {
 font-size: 22px;
 padding: 10px 2% 15px;
 margin: 5px 0 15px;
}
 .border_div_brown {
 margin: 10px 0 15px;
}
 .ceo_left {
 width: 100%;
 margin-top: 15px;
 float: none;
 display: inline-block;
 vertical-align: top;
 text-align: center;
 margin-bottom: 10px;
}
 .about_ceo_img {
 float: none;
 display: inline-block;
 vertical-align: top;
 margin-top: 0
}
 .ceo_label {
 margin-top: 5px;
}
 .map_contact {
 margin: 5px 0 15px;
}
 .contact_address {
 display: inline-block;
 float: none;
 width: 90%;
 padding: 15px 3%;
 max-width: 300px;
 text-align: left;
 margin: 0 auto;
 left: 0;
 right: 0
}
 .contact_address p {
 font-size: 14px;
}
 .testmonial_ul li {
 padding-top: 5px;
 background: none
}
 .Our_Partners .bx-wrapper .bx-prev {
 left: -25px;
}
 .Our_Partners .bx-wrapper .bx-next {
 right: -25px;
 left: inherit;
}
 .retreats_div li {
width:100%;
color:#666;
}
 .retreats_div {
padding:20px 0;
}
 .main-section > header {
margin:15px 0 0px;
display:inline-block;
vertical-align:top;
width:100%;
}
 .container.resort-packages {
margin-top:15px;
padding:15px;
}
 .container {
margin-top:15px;
padding:0 15px;
}
 .resort-packages h2 {
padding:0;
margin-bottom:10px;
font-size:22px;
line-height:24px;
}
 .resort-packages h2 > span {
font-size:16px;
}
 .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-9 {
padding-left:0;
padding-right:0;
}
 .sp-bottom-thumbnails {
margin-top:0;
}
 .resort-packages .package-writeup h4 {
margin-top:5px;
margin-bottom:10px;
font-size:22px;
}
 .resort-packages .package-writeup .btn-shareit {
margin-top:10px;
padding:6px 10px 2px;
}
 .pricing-table > thead > tr > th:first-child, .pricing-table > tbody > tr > td:first-child {
padding:3px;
}
 .pricing-table > thead > tr > th, .pricing-table > tbody > tr > td {
padding:3px;
font-size:13px;
}
 .resort-packages:after, .resort-packages:before {
display:none
}
 .resort-packages .terms-conditions {
padding:8px 7px 5px
}
 .resort-packages .terms-conditions small {
font-size:16px;
}
 .btn-booknow {
font-size:12px;
padding:5px 7px 2px;
display:inline-block;
vertical-align:top;
}
 .resort-packages .arrow-down-wrapper {
margin:10px 0;
}
 .remodal {
padding:15px;
}
 .tandc-modal p {
font-size:16px;
}
 .remodal h2 {
font-size:22px;
}
 .main-section {
 width: 96%;
padding:0;
 margin: 0 2%;
}
.partners-testimonials .instructor-article figure h4{font-size:20px;}
.partners-testimonials .instructor-article figure p{margin-bottom:0}
.instructor-article .instructor-writeup > p{margin:0 0 8px;}
.instructor-article .instructor-writeup{margin-top:15px;}
.partners-testimonials .highlight-quote{font-size:20px; margin:15px 0; line-height:24px;white-space: normal; padding:0 25px;}
.partners-testimonials .highlight-quote:before, .partners-testimonials blockquote:before{bottom:auto; top:-5px;}
.partners-testimonials .highlight-quote:after, .testimonial-list blockquote .close-quote:after{top:auto; bottom:-5px;}
.partners-testimonials blockquote p{margin:0 0 8px; line-height:20px;}
.partners-testimonials blockquote{padding:0 25px; margin:20px 0 15px;}
.testimonial-list blockquote cite{margin-top:5px;}
.testimonial-list blockquote .close-quote{display:block;}
.testimonial-list blockquote .close-quote:after{right:-22px;}
.testimonial-list hr{height:3px;}
.tailor_package_images{margin:10px 0 15px; text-align:center;}
.tailor_package_images img{float:none; margin:0 5px 10px; display:inline-block; vertical-align:top;}
.tailor_package_text p{width:100%; font-size:22px; margin-bottom:5px;}
.tailor_package_text label{width:100%; font-size:18px; margin-bottom:10px;}
.tailor_package_text span{width:100%; font-size:16px; }
.tailor_package_text span a{padding:10px 0 15px;}
}
 @media screen and (max-width: 667px) {
 .field_activities_list {
 width: 100%;
 padding: 10px 0 0;
}
 .icon_list {
 padding-top: 95px;
}
 h3.icon_list {
 margin-bottom: 0
}
 .read_more_1 {
 margin-top: 15px;
}
 .service_img,  .service_list_right .service_img {
 display: inline-block;
 float: none;
 margin: 0 0 10px;
}
 .service_img:after {
 display: none
}
 .icon_list_service {
 display: inline-block;
 margin-bottom: 30px;
}
 .service_content {
 display: inline-block;
 float: none;
 width: 100%;
}
 .date_area,  .news_img {
 display: inline-block;
 vertical-align: top;
 float: none
}
 .news_img {
 margin-left: 5px;
}
 .news_content {
 margin-top: 15px;
 width: 100%;
}
 .news_content h2 {
 margin-bottom: 10px;
 line-height: 24px;
}
 .news_content p {
 margin-bottom: 10px;
 line-height: 20px;
}
 .newspage_list {
 padding-bottom: 15px;
 margin-bottom: 15px;
}
 .page_contactus_content {
 width: 100%;
 padding: 15px 0;
 background: none
}
 .contact_map {
 width: 100%;
 margin: 15px 0
}
 .contact_form {
 padding-top: 0
}
 .contact_form input[type="text"] {
 width: 100%;
 margin-bottom: 10px;
 float: none;
 display: inline-block;
 vertical-align: top;
 margin-left: -1px;
}
 .contact_form textarea {
 margin-bottom: 10px;
}
 .share_this {
 left: 60px;
 top: 8px;
 margin-left: 12px;
}
 .share_this ul {
 float: left;
 width: auto;
}
 .share_this li {
 width: auto;
}
 .share_this li a {
 margin: 0px 5px;
 line-height: 22px;
}
 .left_part_contactform,  .right_part_contactform {
 width: 100%;
}
}
 @media screen and (max-width: 600px) {
 .icon_list_page {
 padding-top: 0;
 margin-bottom: 15px;
}
.tailor_package_images img{width:100%; margin:0 0 10px;}
}
 @media screen and (max-width: 330px) {
 #header.nav-fixed .logo {
 margin-left: 29px;
}
 .Our_Partners .bx-wrapper .bx-prev {
 left: -16px;
}
 .Our_Partners .bx-wrapper .bx-next {
 right: -16px;
 left: inherit;
}
.contact_address p span{width:80%;}
}
 @media screen and (min-width: 960px) {
 .mobile_view {
 display: none!important;
}
}
 @media (min-width:667px) {
 .right_side {
 float: right!important
}
 .service_content,  .news_content {
 text-align: left
}
}
 @media (min-width:667px) and (max-width:960px) {
 .service_list {
 padding-bottom: 13px;
 margin-bottom: 15px;
}
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	height: 4px;
	width: 24px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
	cursor: pointer;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 4px;
	width: 24px;
	background: #d6a347;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}
 #nav-icon1 span:nth-child(1) {
 top: 0px;
}
 #nav-icon1 span:nth-child(2) {
 top: 18px;
}
 #nav-icon1 span:nth-child(3) {
 top: 36px;
}
 #nav-icon1.open span:nth-child(1) {
 top: 18px;
 -webkit-transform: rotate(135deg);
 -moz-transform: rotate(135deg);
 -o-transform: rotate(135deg);
 transform: rotate(135deg);
}
 #nav-icon1.open span:nth-child(2) {
 opacity: 0;
 left: -60px;
}
 #nav-icon1.open span:nth-child(3) {
 top: 10px;
 -webkit-transform: rotate(-135deg);
 -moz-transform: rotate(-135deg);
 -o-transform: rotate(-135deg);
 transform: rotate(-135deg);
}
#nav-icon3.open span {
	background: #d6a347;
}
#nav-icon2 {
}
#nav-icon2 span {
	display: block;
	position: absolute;
	height: 4px;
	width: 24px;
	background: #d6a347;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}
 #nav-icon2 span:nth-child(even) {
 left: 50%;
 border-radius: 0 9px 9px 0;
}
 #nav-icon2 span:nth-child(odd) {
 left: 0px;
 border-radius: 9px 0 0 9px;
}
 #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
 top: 0px;
}
 #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
 top: 18px;
}
 #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
 top: 36px;
}
 #nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #nav-icon2.open span:nth-child(1) {
 left: 5px;
 top: 7px;
}
 #nav-icon2.open span:nth-child(2) {
 left: calc(50% - 5px);
 top: 7px;
}
 #nav-icon2.open span:nth-child(3) {
 left: -50%;
 opacity: 0;
}
 #nav-icon2.open span:nth-child(4) {
 left: 100%;
 opacity: 0;
}
 #nav-icon2.open span:nth-child(5) {
 left: 5px;
 top: 29px;
}
 #nav-icon2.open span:nth-child(6) {
 left: calc(50% - 5px);
 top: 29px;
}
 #nav-icon3 span:nth-child(1) {
 top: 0px;
}
 #menuclick:hover span:nth-child(1) {
 top: -1px;
}
 #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
 top: 8px;
}
 #nav-icon3 span:nth-child(4) {
 top: 16px;
}
 #menuclick:hover span:nth-child(4) {
 top: 17px;
}
 #nav-icon3.open span:nth-child(1) {
 top: 18px;
 width: 0%;
 left: 50%;
}
 #nav-icon3.open span:nth-child(2) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #nav-icon3.open span:nth-child(3) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #nav-icon3.open span:nth-child(4) {
 top: 18px;
 width: 0%;
 left: 50%;
}

@media (min-width: 1000px) and (max-width: 1170px) {
	.site{width:1000px;}
	.tailor_package_images img{max-height:221px;}
	.tailor_package_text p{width:90%;}
	.tailor_package_text label{width:84%;}
	.tailor_package_text span{width:73%;}
	.newsletter_div, .home_feature_post, .about_left, .about_content{width:485px;}
	.testmonial_footer{width:510px;}
	.home_about_content_inner{width:340px;}
	.testmonial_text{width:225px; font-size:22px;}
	.header_right{width:840px;}
	.header_right ul li a{font-size:17px;}
}
@media (min-width: 1000px) and (max-width: 1400px) {
.retreats_div{background-position:-500px bottom;}
}