.loader-wrap {

    width: 100%;

    height: 100px;

    background: url(../images/ajax-loader.gif) no-repeat;

    color: #2E2E2E;

    min-height: 100px;

}

#content_body .loader-wrap {

    width: 100%;

    height: 100px;

    background: url(../images/ajax-loader-blue.gif) no-repeat;

    color: #2E2E2E;

    min-height: 100px;

}

#network_body .loader-wrap {

    width: 100%;

    height: 100px;

    background: url(../images/ajax-loader_orange.gif) no-repeat;

    color: #2E2E2E;

    min-height: 100px;

}

#studios_body .loader-wrap {

    width: 100%;

    height: 100px;

    background: url(../images/ajax-loader_violet.gif) no-repeat;

    color: #2E2E2E;

    min-height: 100px;

}

.hidden{display: none;}

.contact-response {  color: #fff;  padding-left: 2px; float: left; margin-top: -8px; }

.alert-danger {  color: red;   }

.alert-success {  color: green;   }

.wrap_404 a{color: #fff;}

.wrap_404 a:hover{text-decoration: underline;}

.main_outer.wrap_404 {  min-height: 300px;  }

.hideme {

    display: none !important;

}

.sk-circle {

    display: block;

    margin: 0 auto;

    position: relative;

    width: 60px;

    height: 60px;

    top: 45%;

}

.sk-circle .sk-child {

    width: 100%;

    height: 100%;

    position: absolute;

    left: 0;

    top: 0;

}

.sk-circle .sk-child:before {

    content: '';

    display: block;

    margin: 0 auto;

    width: 15%;

    height: 15%;

    background-color: #00a0c6;

    border-radius: 100%;

    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;

    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;

}

.loader2 {

    right: -60px;

    top: -38px;

    width: 30px;

    height: 30px;

}

.sk-circle .sk-circle2 {

    -webkit-transform: rotate(30deg);

    -ms-transform: rotate(30deg);

    transform: rotate(30deg);

}

.sk-circle .sk-circle3 {

    -webkit-transform: rotate(60deg);

    -ms-transform: rotate(60deg);

    transform: rotate(60deg);

}

.sk-circle .sk-circle4 {

    -webkit-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

}

.sk-circle .sk-circle5 {

    -webkit-transform: rotate(120deg);

    -ms-transform: rotate(120deg);

    transform: rotate(120deg);

}

.sk-circle .sk-circle6 {

    -webkit-transform: rotate(150deg);

    -ms-transform: rotate(150deg);

    transform: rotate(150deg);

}

.sk-circle .sk-circle7 {

    -webkit-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    transform: rotate(180deg);

}

.sk-circle .sk-circle8 {

    -webkit-transform: rotate(210deg);

    -ms-transform: rotate(210deg);

    transform: rotate(210deg);

}

.sk-circle .sk-circle9 {

    -webkit-transform: rotate(240deg);

    -ms-transform: rotate(240deg);

    transform: rotate(240deg);

}

.sk-circle .sk-circle10 {

    -webkit-transform: rotate(270deg);

    -ms-transform: rotate(270deg);

    transform: rotate(270deg);

}

.sk-circle .sk-circle11 {

    -webkit-transform: rotate(300deg);

    -ms-transform: rotate(300deg);

    transform: rotate(300deg);

}

.sk-circle .sk-circle12 {

    -webkit-transform: rotate(330deg);

    -ms-transform: rotate(330deg);

    transform: rotate(330deg);

}

.sk-circle .sk-circle2:before {

    -webkit-animation-delay: -1.1s;

    animation-delay: -1.1s;

}

.sk-circle .sk-circle3:before {

    -webkit-animation-delay: -1s;

    animation-delay: -1s;

}

.sk-circle .sk-circle4:before {

    -webkit-animation-delay: -0.9s;

    animation-delay: -0.9s;

}

.sk-circle .sk-circle5:before {

    -webkit-animation-delay: -0.8s;

    animation-delay: -0.8s;

}

.sk-circle .sk-circle6:before {

    -webkit-animation-delay: -0.7s;

    animation-delay: -0.7s;

}

.sk-circle .sk-circle7:before {

    -webkit-animation-delay: -0.6s;

    animation-delay: -0.6s;

}

.sk-circle .sk-circle8:before {

    -webkit-animation-delay: -0.5s;

    animation-delay: -0.5s;

}

.sk-circle .sk-circle9:before {

    -webkit-animation-delay: -0.4s;

    animation-delay: -0.4s;

}

.sk-circle .sk-circle10:before {

    -webkit-animation-delay: -0.3s;

    animation-delay: -0.3s;

}

.sk-circle .sk-circle11:before {

    -webkit-animation-delay: -0.2s;

    animation-delay: -0.2s;

}

.sk-circle .sk-circle12:before {

    -webkit-animation-delay: -0.1s;

    animation-delay: -0.1s;

}

@-webkit-keyframes sk-circleBounceDelay {

    0%, 80%, 100% {

        -webkit-transform: scale(0);

        transform: scale(0);

    }

    40% {

        -webkit-transform: scale(1);

        transform: scale(1);

    }

}

@keyframes sk-circleBounceDelay {

    0%, 80%, 100% {

        -webkit-transform: scale(0);

        transform: scale(0);

    }

    40% {

        -webkit-transform: scale(1);

        transform: scale(1);

    }

}

.latest_video_div_wrap{

    display: inline-block;
    /* padding: 10px; */
    background-color: #fff;
    max-width: 960px;
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

}

.latest_video_div_wrap iframe {

	width: 100% !important;

	height:465px !important;

}

div.upcoming_slider {  min-height: 450px;  }

.has-dropdown:hover ul.drop_menu, .has-dropdown:hover span.drop_menu,
ul.nav li:nth-child(3):hover ul.submenu_ul{  opacity: 1;  z-index: 999 }

.drop_menu {  opacity: 0;  transition: opacity 300ms;  -webkit-transition: opacity 300ms; z-index: 0  }

.dropdown_active .drop_menu {  opacity: 1;  transition: opacity 300ms;  -webkit-transition: opacity 300ms; z-index: 0  }



ul.nav li ul.submenu_ul{

    width: 255px;

    right: -90px;
	z-index:-1;

}

ul.nav li:nth-child(3) ul.submenu_ul{

    right: -40px;
    width: 160px;
    z-index: -1;

}

ul.nav li.dropdown_active ul.submenu_ul,
#network_body ul.nav li.dropdown_active ul.submenu_ul{
	z-index:0;
}

.released_projects_ul li:hover{color: #00A0C6; cursor: pointer;}

.released_projects_ul li a.play_icon{

    transition: transform 100ms ease 0s;

    -webkit-transition: -webkit-transform 100ms ease 0s;

}

.released_projects_ul li:hover a.play_icon{

    transform: scale(1.1);

    -webkit-transform: scale(1.1);

}
#studios_body .released_projects_ul li:hover{color: #8210D2;}

.menu_nav_div ul.nav li ul.hid,
.menu_nav_div ul.nav li span.hid {
	z-index: -1 !important;
	opacity: 0 !important;
}

span.comin_soon {
    display: block;
    text-align: center;
    padding: 0 40px;
    font-size: 25px;
    line-height: 19px;
    font-family: 'GillSans-Light';
}
#upcoming_projects span.comin_soon {  color: #fff;  }
.studios_main .video_div img {  border-radius: 15px;  }
.img_project img {  border-radius: 15px;  }
#network_body .video_div {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.upload_network {  display: inline-block;  vertical-align: top;  width: 60%;  margin-left: 15px; margin-top: 0; }
.we-transfer_wrap {  float: left;  width: 33%;  }
.or_seperator {
    float: left;
    height: 530px;
    width: 5%;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    font-family: 'GillSans';
    text-align: center;
}
.or_line_1{width: 1px;
    height: 50px;display: inline-block; vertical-align: top; margin-bottom: 5px;background: #fff; margin-top: 30px; }
.or_line_2{width: 1px;
    height: 409px;display: inline-block; vertical-align: top; margin-top: 5px; background: #fff }
.full_width_input input[type="text"] {  width: 93%; }
.full_width_input  {   position: relative;}
.inputs_div {  position: relative; }
label.error {      color: #fff;  position: absolute;  clear: both;  top: 32px;  left: 0;  font-size: 12px;  }
.form-input-wrap {  float: left;  position: relative;     margin-bottom: 2px;}
.alert.success {  color: green;  }
.we-transfer_wrap iframe {  border-radius: 15px;  overflow: hidden;  }
.video_div.yt-placeholder {  background-color: rgba(0,0,0,0.1);  }