@media screen and (max-width: 960px) {
html, body{overflow-x:hidden}	
.main_outer{width:96%; margin:0 2%;}
.emotion_other_logo{margin:30px 0 0; text-align:center;}
#contact_us, .footer_copy, .video_div, .youtube_right, .studio_sed_right{text-align:center}
.emotion_other_logo_content, .contact_form, .img_up_project{display:inline-block; float:none}
#latest_video, .content_main, .network_main, .studios_main, #upcoming_projects{background-size: auto;}
.header_main{position:relative}
.logo_div {
    float: left;
    max-width: 250px;
    margin-left: 40px;
}
.upcoming_projects_right ul, .img_up_project, .desc_upcoming_projects, .content_main_left, .content_main_right{text-align:center}
.upcoming_projects_right ul li{display:inline-block; float:none!important; margin:0 10px 20px;}
.inputs_div, .video_div, .youtube_right, .studio_sed_right, .content_main_left, .content_main_right{width:100%}
.content_main_left h3{font-size:24px; line-height:26px;}
.content_main label{margin-bottom:15px;}
.category_portfolio_ul li a{    padding: 12px 5px;
    font-size: 12px;}
.youtube_right a{float:none; display:inline-block; text-align:left}
.video_div{margin-bottom:20px}
.network_message, .video_message{width:100%; margin:30px 0}
.desc_upcoming_projects{width:100%; margin:20px 0 5px; font-size:16px;}
.upcoming_projects_left .bx-wrapper .bx-controls-direction a{top:-33px;}

.upcoming_projects_left_ul li{padding-bottom:0}
.network_message h2, .video_message h2{font-size:18px; line-height:22px;padding: 15px 20px;}
.submit_div{margin-top:20px;}
.inputs_div input[type="checkbox"] + label{width:90%}
.youtube_div{margin-top:20px;}
.network_main, .studios_main, .released_projects, #upcoming_projects{padding:20px 0}
.content_main{padding:25px 0 15px;}
.about_home{padding:20px 0 15px;}
 #latest_video{padding:20px 0 30px}
.released_projects h1{margin-bottom:20px}
.studios_main h2{font-size:22px; line-height:25px;}
.contact_form{margin:30px 0}
#menuclick {
position:absolute;
top:18px;
left:3%;
z-index:9999
}
.nav {
position:fixed;
top: 0px;
margin:0!important;
height:inherit;
left:-250px;
font-size:13px;
padding:7px 0;
float:right;
-webkit-transition: all 0.20s ease-in;
 -moz-transition: all 0.20s ease-in;
width:96%;
height:100%;
max-width:150px;
z-index:99999;
 -o-transition: all 0.20s ease-in;
overflow:scroll;
 transition: all 0.20s ease-in;
background:#000;
border-right:2px solid #000
}
.nav.menushow {
 left:0;
}
#mainNav {
width:100%;
height:inherit;
}
ul.nav li{
width:100%;
border-bottom: 1px solid #ddd;
margin:0;
}
ul.nav li a{padding:5px 10px; font-size:16px; color:#fff}
.margin_both{margin:20px 0;}
.containershow {
position:relative;
left:155px;
}
.menu_nav_div {
    margin-top: 13px;
}
.upload_input{margin-right:30px}
ul.nav li ul, #content_body ul.nav li ul {
    position: relative;
    right: 0px;
    top: 0px;
    font-size: 14px;
    width: 100%;
    left: 0px;
}
ul.nav li ul li a{
	padding:5px 10px 5px 20px
}
ul.nav li ul li {
    border-bottom: none;
    border-top: 1px solid #fff;
	color:#000
}
.arrow_span{display:none!important}

.released_projects .bx-wrapper .bx-prev, #content_body .released_projects .bx-wrapper .bx-prev{left:2%;}
.released_projects .bx-wrapper .bx-next, #content_body .released_projects .bx-wrapper .bx-next{right:2%;}
.img_project{max-width:365px;}
.released_projects_ul li{text-align:center;padding:0 1px;}
.upcoming_projects_left, .upcoming_projects_right{max-width:inherit}
.upcoming_projects_right{margin-top:20px;}
.upcoming_projects_left{max-height:885px;}
.pop_up_content {
    width: 90%;
    padding: 10px 3%;
}
.pop_up_content_main h1 {
    font-size: 20px;
    padding: 5px 0 10px;
    line-height: 22px;
    margin-bottom: 15px;
}
.pop_up_content_main p {
    font-size: 16px;
    line-height: 20px;
}
.pop_up_content_main{/*text-align:center*/}
.close_div_bottom{right:2%; left:2%; bottom:10px;}
.close_div a{font-size:16px;}
.released_projects h1, #upcoming_projects h1, .about_home h1{font-size:25px;}
.about_home p{font-size:16px; line-height:20px;}
.about_home h1{margin-bottom:5px;}
.bx-wrapper{min-height:100px;}
}
@media screen and (max-width: 450px) {
.menu_nav_div{width:100%; text-align:center; margin-top:15px}
.menu_nav_div ul.social_ul{float:none; display:inline-block}
}
@media screen and (max-width: 600px) {
.inputs_div input[type="text"], .inputs_div input[type="email"], .inputs_div input[type="password"], .upload_input{
    width: 94%;
    padding: 0 3%;
    margin-right: 0;
    border: none;
}

}
@media screen and (min-width: 960px) {
#menuclick {
display:none!important
}
.slider_main .bx-wrapper{min-height:300px;}
}
@media screen and (min-width: 600px) and (max-width: 800px) {

}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	height: 4px;
	width: 24px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
	cursor: pointer;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 4px;
	width: 24px;
	background: #000;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}
 #nav-icon1 span:nth-child(1) {
 top: 0px;
}
 #nav-icon1 span:nth-child(2) {
 top: 18px;
}
 #nav-icon1 span:nth-child(3) {
 top: 36px;
}
 #nav-icon1.open span:nth-child(1) {
 top: 18px;
 -webkit-transform: rotate(135deg);
 -moz-transform: rotate(135deg);
 -o-transform: rotate(135deg);
 transform: rotate(135deg);
}
 #nav-icon1.open span:nth-child(2) {
 opacity: 0;
 left: -60px;
}
 #nav-icon1.open span:nth-child(3) {
 top: 10px;
 -webkit-transform: rotate(-135deg);
 -moz-transform: rotate(-135deg);
 -o-transform: rotate(-135deg);
 transform: rotate(-135deg);
}
#nav-icon2 {
}
#nav-icon2 span {
	display: block;
	position: absolute;
	height: 4px;
	width: 24px;
	background: #000;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}
 #nav-icon2 span:nth-child(even) {
 left: 50%;
 border-radius: 0 9px 9px 0;
}
 #nav-icon2 span:nth-child(odd) {
 left:0px;
 border-radius: 9px 0 0 9px;
}
 #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
 top: 0px;
}
 #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
 top: 18px;
}
 #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
 top: 36px;
}
 #nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #nav-icon2.open span:nth-child(1) {
 left: 5px;
 top: 7px;
}
 #nav-icon2.open span:nth-child(2) {
 left: calc(50% - 5px);
 top: 7px;
}
 #nav-icon2.open span:nth-child(3) {
 left: -50%;
 opacity: 0;
}
 #nav-icon2.open span:nth-child(4) {
 left: 100%;
 opacity: 0;
}
 #nav-icon2.open span:nth-child(5) {
 left: 5px;
 top: 29px;
}
 #nav-icon2.open span:nth-child(6) {
 left: calc(50% - 5px);
 top: 29px;
}
 #nav-icon3 span:nth-child(1) {
 top: 0px;
}
 #menuclick:hover span:nth-child(1) {
top: -1px;
}
 #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
 top: 8px;
}
 #nav-icon3 span:nth-child(4) {
 top: 16px;
}
 #menuclick:hover span:nth-child(4) {
top: 17px;
}
 #nav-icon3.open span:nth-child(1) {
 top: 18px;
 width: 0%;
 left: 50%;
}
 #nav-icon3.open span:nth-child(2) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
 #nav-icon3.open span:nth-child(3) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 #nav-icon3.open span:nth-child(4) {
 top: 18px;
 width: 0%;
 left: 50%;
}
