* {
	margin:0;
	padding:0;
}
html {
	position: relative;
	min-height: 100%;
	/* -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;*/



	-webkit-text-size-adjust: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration:none
}
a:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover {
	cursor:pointer
}
a:hover img {
	opacity:0.7
}
ul, li, ol {
	list-style:none
}
body {
	font-family: 'GillSans-Light';/*-webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;*/
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background: #fff;
}
.clearfix {
	clear:both;
	width:100%;
}
.center {
	text-align:center
}
.main_outer {
	width:1170px;
	margin:0 auto;
}
h1 {
	font-size:35px
}
img {
	max-width:100%;
}
input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
/*---------------Header--------------------*/



.header_main {
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin:25px 0;
}
.logo_div {
	float:left;
}
.logo_div a:hover > img {
	opacity: 1;
}
.menu_nav_div {
	float:right
}
ul.nav {
	float:right;
	list-style:none;
	width:auto;
	margin-top:35px;
}
ul.nav li {
	float:left;
	position:relative;
	margin-left:30px;
}
ul.nav li a {
	float:left;
	color:#000;
	font-size:22px;
	text-transform:capitalize;
	line-height: 27px;
}
ul.nav li a:hover, ul.nav li a.active {
	color:#b2b2b2
}
ul.nav li ul {
	position: absolute;
	right: -110px;
	top: 30px;
	font-size: 14px;
	width: 345px;
	z-index: -1;
}
ul.nav li ul li {
	float:right;
	margin-left:5px;
	line-height:27px;
}
ul.nav li ul li a {
	margin-right:5px;
	float:left;
	margin-left:0;
	font-size:15px;
	font-family: 'GillSans-Light';
}
#network_body ul.nav li a:hover, #network_body ul.nav li a.active, #network_body .footer_copy a, #network_body .color_emotion {
	color:#ff7f00
}
#network_body ul.nav, #studios_body ul.nav, #content_body ul.nav {
	margin-top:5px;
}
.social_ul {
	float:right;
	margin-top:5px;
}
.social_ul li {
	float:left;
	margin-left:7px;
}
#network_body .bg_emotion {
	background-color:#ff7f00;
	color:#fff
}
#studios_body .bg_emotion {
	background-color:#8210d2;
	color:#fff
}
#studios_body ul.nav li a:hover, #studios_body ul.nav li a.active, #studios_body .footer_copy a, #studios_body .color_emotion {
	color:#8210d2
}
ul.nav li.sub_menu .arrow_span {
	background:url(../images/dropdown.png) bottom center no-repeat;
	width:100%;
	height:6px;
	position:absolute;
	bottom:-6px;
	left:0
}
#studios_body ul.nav li.sub_menu .arrow_span {
	background:url(../images/studios/dropdown.png) bottom center no-repeat;
	width:100%;
	height:6px;
	position:absolute;
	bottom:-6px;
	left:0
}
#network_body ul.nav li.sub_menu .arrow_span {
	background:url(../images/network/dropdown.png) bottom center no-repeat;
	width:100%;
	height:6px;
	position:absolute;
	bottom:-6px;
	left:0
}
#content_body ul.nav li ul {
/*position: absolute;

	right: -50%;

	top: 30px;

	font-size: 14px;

	width: 175px;*/

}
#content_body .bg_emotion {
	background-color:#00a0c6;
	color:#fff
}
#content_body ul.nav li a:hover, #content_body ul.nav li a.active, #content_body .footer_copy a, #content_body .color_emotion {
	color:#00a0c6
}
#content_body ul.nav li.sub_menu .arrow_span {
	background:url(../images/content/dropdown.png) bottom center no-repeat;
	width:100%;
	height:6px;
	position:absolute;
	bottom:-3px;
	left:0
}
/*------------Home page---------------------*/



.slider_main {
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin:0px 0;/*background:#0e0e0e url(../images/about_bg.jpg) center bottom no-repeat;

	background-size:100% auto;*/

}
.emotion_other_logo {
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin:-98px 0 0;
	position:relative;
	z-index:999
}
.margin_both {
	margin-left:25px;
	margin-right:25px
}
.emotion_other_logo_content {
	width:100%;
	padding:0px;
	text-align:center;
	border-radius:15px;
	/*background:url(../images/white_bg.png);*/
    background: rgba(255,255,255,0.8);
	max-width:373px;
	float:left;
}
.emotion_other_logo_content > img {
	margin-bottom: 15px;
}
.logo_emotion {
	margin:15px 0;
	display:inline-block;
	vertical-align:top
}
.emotion_other_logo_content p {
	width:85%;
	font-size:20px;
	font-weight:normal;
	display:inline-block;
}
.emotion_other_logo_content a {
	color:#00a0c6;
	margin:15px 0 20px;
	display:inline-block;
	font-size:18px;
	font-weight:bold
}
.emotion_orange a {
	color:#ff7f00;
}
.emotion_pink a {
	color:#8210d2;
}
.about_home {
	width:100%;
	display:inline-block;
	vertical-align:top;
	padding:50px 0;
	text-align:center
}
.about_home h1 {
	color:#fff;
	font-family: 'GillSans-Light';
	margin-bottom:15px
}
.about_home p {
	color:#fff;
	font-size:20px;
	line-height:24px;
	margin-bottom:15px;
	width:92%;
	display:inline-block
}
#map {
	width:100%;
	display:inline-block;
	vertical-align:top;
	min-height:400px;
	position:absolute!important;
	height:100%;
	left:0
}
.contact_main {
	width:100%;
	display:inline-block;
	vertical-align:top;
	position:relative;
	overflow:hidden
}
.contact_form {
	padding:25px 28px 15px;
	border-radius:15px;
	background:url(../images/black_bg.png);
	float:left;
	max-width:250px;
	margin:50px 0;
	position:relative;
	z-index:9999
}
.contact_form p {
	margin-bottom:8px;
	color:#fff;
	font-size:16px;
}
.contact_form p a {
	color:#fff;
	text-decoration:underline
}
.contact_form p label {
	width:20px;
	display:inline-block
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
	background:url(../images/black_bg1.png);
	border:1px solid #ccc;
	height:34px;
	border-radius:5px;
	color:#ccc;
	font-size:16px;
	padding:0 0 0 15px;
	margin-bottom:10px;
}
textarea {
	background:url(../images/black_bg1.png);
	border:1px solid #ccc;
	min-height:60px;
	border-radius:5px;
	color:#ccc;
	font-size:16px;
	padding: 10px 0 10px 15px;
	width:100px;
	display:inline-block;
	margin-bottom:10px;
	font-family: 'GillSans-Light';
}
.contact_input {
	width:233px;
}
.captcha_contact {
	width:152px;
}
input[type="submit"] {
	background:#b2b2b2;
	border-radius:5px;
	border:0px solid #ccc;
	color:#000;
	font-size:16px;
	text-transform:uppercase;
	padding:0 15px;
	height:36px;
	float:right
}
.footer_copy {
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin:20px 0;
	font-size:14px;
}
.footer_copy a {
	color:#b2b2b2;
}
#contactform {
	margin-top:10px;
	width:100%;
	display:inline-block;
	vertical-align:top;
}
#contactform input,  #contactform textarea {
	outline: none !important;
	font-family: 'GillSans-Light';
}
#contactform textarea {
	resize: none !important;
}
/*------------------Network page--------------------*/



.network_main {
	padding:50px 0 60px;
	width:100%;
	display:inline-block;
	vertical-align:top;/*background:#ff6400 url(../images/network_bg.jpg) bottom center no-repeat;

	background-size:100% auto;*/

}
.network_message {
	background:url(../images/network/right_top.png) right top no-repeat;
	display:inline-block;
	width:84%;
	margin:50px 8%;
}
.network_message h2 {
	display:block;
	text-align:center;
	background:url(../images/network/left_bottom.png) left bottom no-repeat;
	padding:15px 40px;
	font-size:22px;
	line-height:26px;
	font-family: 'GillSans-Light';
}
.network_video_upload {
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin:0px 0;
	background:url(../images/black_bg2.png);
	padding:20px 0;
}
.network_video_upload h2 {
	font-size: 25px;
	line-height: 30px;
	color: #fff;
	display: inline-block;
	width: 100%;
	font-family:'GillSans'
}
.network_video_upload h2 span {
	font-size: 13px;
	display: inline-block;
	margin: 9px 0 0 0;
	line-height: 15px;
	vertical-align: top;
}
.upload_network {
	display:inline-block;
	vertical-align:top;
	width:100%;
	margin-top:10px;
}
.inputs_div {
	float:left;
	width:885px;
}
.submit_div {
	float:left
}
.inputs_div input[type="text"], .inputs_div input[type="email"], .inputs_div input[type="password"] {
	background:#fff;
	border:1px solid #fff;
	height:32px;
	border-radius:5px;
	color:#000;
	font-size:16px;
	padding:0 12px;
	margin-bottom:10px;
	margin-right:25px;
	width:240px;
	font-family: 'GillSans-Light';
}
.upload_input {
	float:left;
	background:#fff;
	border:1px solid #fff;
	height:32px;
	border-radius:5px;
	color:#000;
	font-size:16px;
	padding:0 12px;
	margin-bottom:10px;
	margin-right:25px;
	width:240px;
	position:relative
}
.upload_input input {
	width:100%;
	height:100%;
	opacity:0;
	position:absolute;
	top:0;
	left:0
}
.upload_input span {
	background:url(../images/network/video.png) center left no-repeat;
	padding-left:25px;
	line-height:31px;
	color: #aaa;
}
.inputs_div input[type="checkbox"] {
	position:absolute;
	left:-99999px;
}
.inputs_div input[type="checkbox"] + label {
	float: left;
	margin-right: 10px;
	background: url(../images/check_box.png) top left no-repeat;
	font-size: 16px;
	color: #fff;
	padding-left: 30px;
	line-height: 25px;
	margin-left: 2px;
	margin-top: 6px;
	cursor:pointer
}
.inputs_div input[type="checkbox"]:checked + label {
	background-position:left -100px;
}
.submit_div input[type="submit"] {
	background:#fff url(../images/network/send.png) 10px center no-repeat;
	border-radius:5px;
	border:0px solid #ccc;
	color:#000;
	font-size:16px;
	text-transform:uppercase;
	padding:0 15px 0 35px;
	height:34px;
	float:right
}
.youtube_div {
	display:inline-block;
	vertical-align:top;
	width:100%;
	margin-top:50px;
}
.video_div {  float:left  }
.pop_up_content .video_div {  width:100%;  }
.youtube_right {
	float:right;
	width:400px;
	font-size:20px;
	color:#fff
}
.youtube_right p {
	margin-bottom:15px;
	line-height:25px
}
.youtube_right a {
	background:#fff url(../images/network/youtube.png) 15px center no-repeat;
	border-radius:10px;
	border:0px solid #ccc;
	color:#000;
	float:left;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	padding:15px 25px 15px 55px;
	margin-top:10px;
}
.youtube_right a:hover, .submit_div input[type="submit"]:hover {
	background-color:#ededed;
	color:#000
}
#network_body .bg_emotion:hover, #studios_body .bg_emotion:hover, #content_body .bg_emotion:hover, input[type="submit"]:hover {
	background-color:#000;
	color:#fff;
}
.emotion_other_logo_content a:hover {
	opacity:0.7
}
/*--------------------------Studios-------------------------------------*/



.studios_main {
	padding:50px 0 60px;
	width:100%;
	display:inline-block;
	vertical-align:top;/*background:#59138f url(../images/studios_bg.jpg) bottom center no-repeat;

	background-size:100% auto;*/

}
#studios_body .network_message {
	background:url(../images/studios/right_top.png) right top no-repeat;
}
#studios_body .network_message h2 {
	background:url(../images/studios/left_bottom.png) left bottom no-repeat;
}
.studio_sed_right {
	float:right;
	width:570px;
	font-size:20px;
	color:#fff
}
.studio_sed_right p {
	margin-bottom:12px;
	line-height:25px
}
.studios_main h2 {
	display:block;
	text-align:center;
	color:#fff;
	font-size:28px;
	line-height:35px;
	width:85%;
	margin:0 7% 20px;
	font-family: 'GillSans-Light';
}
.video_message {
	background:url(../images/studios/right_top.png) right top no-repeat;
	display:inline-block;
	margin:50px 0%;
}
.video_message h2 {
	display:block;
	text-align:center;
	background:url(../images/studios/left_bottom.png) left bottom no-repeat;
	padding:15px 40px;
	font-size:35px;
	line-height:26px;
	font-family: 'GillSans-Light';
}
.video_message h2 span {
	color:#8210d2
}
.released_projects {
	padding:50px 0 50px;
	display:inline-block;
	width:100%;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
.img_project {
	display:inline-block;
	width:100%;
	margin-bottom:10px;
	position:relative
}
.play_icon {
	display:block;
	background:url(../images/studios/play.png) center no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	cursor:pointer
}
.released_projects_ul {
	padding:0;
	margin:0
}
.released_projects_ul li {
	text-align:left;
	font-family: 'GillSans';
}
.released_projects_ul li h3 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:5px;
}
.released_projects_ul li p {
	font-size:16px;
}
.released_projects h1 {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-bottom:50px;
	font-size:35px;
	color:#8210d2;
	font-family: 'GillSans';
}
#upcoming_projects {
	padding:50px 0 40px;
	width:100%;
	display:inline-block;
	vertical-align:top;/*background:#1a1a1a url(../images/studios_bg1.jpg) bottom center no-repeat;

	background-size:100% auto;*/

}
#upcoming_projects h1 {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-bottom:30px;
	font-size:35px;
	color:#fff;
	font-family: 'GillSans';
}
.upcoming_projects_left {
	float:left;
	width:100%;
	max-width:645px;
}
.upcoming_projects_right {
	float:right;
	width:100%;
	max-width:476px;
}
.upcoming_projects_right ul {
	display:inline-block;
	width:100%;
}
.upcoming_projects_right ul li {
	float:left;
	width:225px;
	margin-bottom:20px;
}
.upcoming_projects_right ul li.right_li {
	float:right
}
.upcoming_projects_left .img_up_project h3 {
	margin-top:20px;
}
.img_up_project {
	color:#fff;
	text-align:left;
	width:225px;
	float:left
}
.img_up_project h3 {
	font-size:18px;
	font-family:'GillSans';
	margin-bottom:5px;
	margin-top:10px;
}
.img_up_project p {
	font-size:16px;
}
.desc_upcoming_projects {
	float:right;
	width:390px;
	text-align:left;
	font-size:20px;
	color:#fff;
}
.desc_upcoming_projects p {
	margin-bottom:15px;
}
.desc_upcoming_projects strong {
	font-family: 'GillSans';
}
.upcoming_projects_left_ul li {
	border-bottom:5px solid #fff;
	padding-bottom:50px;
}
.upcoming_projects_right .pagination_ul {
	margin:15px 0 0;
	float:left;
	width:100%;
	display: none;
}
.upcoming_projects_right .pagination_ul li {
	float:left;
	width:auto;
	margin:0
}
.upcoming_projects_right .pagination_ul li a {
	float:left;
	color:#fff;
	font-size:16px;
	padding:0 3px;
	margin:0 2px;
	height: 15px;
	line-height:15px;
	vertical-align:middle
}
.upcoming_projects_right .pagination_ul li.active_pagination a {
	color: #8210d2;
}
.upcoming_projects_right .pagination_ul li.prev_pagination a, .upcoming_projects_right .pagination_ul li.next_pagination a {
	width: 3px;
	height: 15px;
	text-indent: -9999px;
	z-index: 9999;
}
.upcoming_projects_right .pagination_ul li.prev_pagination a {
	background: url(../images/studios/controls_p.png) no-repeat left -1px;
}
.upcoming_projects_right .pagination_ul li.next_pagination a {
	background: url(../images/studios/controls_p.png) no-repeat right -1px;
}
.upcoming_projects_right .pagination_ul li.prev_pagination:hover a {
	background-position: left -36px;
}
.upcoming_projects_right .pagination_ul li.next_pagination:hover a {
	background-position: right -36px;
}
/*-----------------------------content page--------------------------------------*/



.content_main {
	padding:50px 0 60px;
	width:100%;
	display:inline-block;
	vertical-align:top;/*background:#0086b3 url(../images/content/content_bg.png) bottom center no-repeat;

	background-size:100% auto;*/

}
#content_body .network_message, #content_body .video_message {
	background:url(../images/content/right_top.png) right top no-repeat;
}
#content_body .network_message h2, #content_body .video_message h2 {
	background:url(../images/content/left_bottom.png) left bottom no-repeat;
}
#content_body .play_icon {
	background:url(../images/content/play.png) center no-repeat;
}
.content_main h2 {
	width:100%;
	display:inline-block;
	font-size:30px;
	line-height:30px;
	text-align:center;
	margin-bottom:7px;
	color:#fff;
	font-family: 'GillSans';
}
.content_main label {
	width:100%;
	display:inline-block;
	font-size:20px;
	line-height:20px;
	text-align:center;
	color:#fff;
	margin-bottom:25px;
	font-family: 'GillSans';
}
.content_main_left {
	float:left;
	width:545px;
	color:#fff;
	font-size:20px;
	line-height:24px;
}
.content_main_left h3 {
	width:100%;
	display:inline-block;
	font-size:28px;
	line-height:35px;
	font-family: 'GillSans-Light';
	margin-bottom: 15px;
}
.content_main_right {
	float:right;
	width:570px;
	font-size:20px;
	line-height:24px;
	color:#fff;
}
.content_main_right p {
	margin-bottom:15px;
}
.category_portfolio_ul {
	border-bottom:1px solid #ccc;
	float:left;
	width:100%;
	text-align:center;
	margin-bottom:35px;
}
.category_portfolio_ul li {
	display:inline-block;
	vertical-align:top;
	position:relative
}
.category_portfolio_ul li a {
	display:inline-block;
	vertical-align:top;
	padding:12px 10px;
	font-size:20px;
	line-height:20px;
	color:#000;
	font-family: 'GillSans';
}
#content_body .released_projects h1 {
	margin-bottom:5px;
}
.category_portfolio_ul li.active_li_p .active_icon, .category_portfolio_ul li:hover .active_icon {
	background:#fff url(../images/content/active_category.png) bottom center repeat-x;
	width:100%;
	height:10px;
	position:absolute;
	bottom:-9px;
	left:0;
}
.category_portfolio_ul li:hover a, .category_portfolio_ul li.active_li_p a {
	color:#00a0c6
}
.active_div_p {
	overflow:hidden;
	opacity:0;
	height:0!important;
}
.latest_video {
	width:100%;
	text-align:center;
	display:inline-block;
}
#latest_video {
	padding:50px 0 60px;
	width:100%;
	display:inline-block;
	vertical-align:top;/*background:#1a1a1a url(../images/studios_bg1.jpg) bottom center no-repeat;

	background-size:100% auto;*/

}
#latest_video h1 {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-bottom:20px;
	font-size:35px;
	color:#fff;
	font-family: 'GillSans';
}
.latest_video_div {
	display:inline-block;
	width:100%;
	text-align:center
}
.pop_up {
	display:inline-block;
	width:100%;
	height:100%;
	position:fixed;
	right:0;
	top:0;
	left:0;
	background:url(../images/black_bg3.png);
	z-index:9999;
	text-align:center
}
.pop_up_content {
	width:100%;
	padding:20px 30px;
	max-width:740px;
	background:#fff;
	text-align:left;
	top:7%;
	bottom:7%;
	position:absolute;
	margin:0 auto;
	left:0;
	right:0
}
.close_div {
	background:#fff url(../images/content/line.jpg) center repeat-x;
	display:inline-block;
	width:100%;
}
.close_div a {
	float:right;
	background:#fff url(../images/content/close.png) 10px center no-repeat;
	font-size:20px;
	color:#00a0c6;
	padding-left:30px;
}
.pop_up_content_main {
	display:inline-block;
	width:100%;
	height:90%;
}
.pop_up_content_main h1 {
	font-size:28px;
	line-height:35px;
	display:inline-block;
	width:100%;
	padding:20px 0;
	color:#00a0c6;
	border-bottom:1px solid #ccc;
	margin-bottom:25px;
	font-family: 'GillSans-Light';
}
.pop_up_content_main p {
	font-size:20px;
	line-height:25px;
	display:inline-block;
	width:100%;
	padding:0;
	margin-top:15px;
}
.close_div_bottom {
	position:absolute;
	bottom:20px;
	right:30px;
	left:30px;
	width:auto
}
#studios_body .pop_up_content_main h1 {
	color:#8210d2
}
#studios_body .close_div a {
	color:#8210d2;
	background: #fff url(../images/studios/close.png) 10px center no-repeat;
}
#studios_body .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background:#8210d2;
}
#studios_body .sk-circle .sk-child:before {
	background-color:#8210d2
}
.desc_upcoming_projects {
	font-family: GillSans-Light;
}
.nav {
	font-family: GillSansMT;
}
#backtop {
	display: none;
	position: fixed;
	bottom: 20px;
	cursor: pointer;
	right: 20px;
	transition: bottom 200ms;
	-webkit-transition: bottom 200ms;
}
#backtop:hover {
	opacity: .75;
	bottom: 22px;
}
#backtop > span {
	background: url(../images/backtotop.png) center no-repeat;
	display: block;
	height:30px;
	width:31px;
}
